<html>
<head>
  <% for(var i=0; i < htmlWebpackPlugin.files.js.length; i++) {%>
    <script src="<%= htmlWebpackPlugin.files.js[i] %>" async></script>
  <% } %>
  <meta charset="utf-8">
</head>
<body id = "body">
  <div id="header">
    <select id="languageSelectBox">
      <% for(var i=0; i < htmlWebpackPlugin.options.languages.length; i++) {%>
        <% const lang = htmlWebpackPlugin.options.languages[i] %>
        <option id="<%= lang %>" value="<%= lang %>"><%= lang %></option>
      <% } %>
    </select>
  </div>
  <h1 id="title"></h1>
  <div id="subtitle">Made by: Xenogent of Bera</div>
  <div id="legionWrapper" class="centerMiddleChild">
    <div id="pieceForm">
      <form></form>
      <button id = "clearPieces"></button>
    </div>
    <div id="legion">
      <table id="legionBoard">
        <tbody></tbody>
      </table>
      <div id="legionFooter" class="centerMiddleChild">
        <div id="labels">
          <div id="currentPieces">
            <span id="currentPiecesValue">0</span>
          </div>
          <div id="boardFilled">
            <span id="boardFilledValue">0</span>
          </div>
          <button id="clearBoard"></button>
        </div>
        <div id = "middlelabels">
          <button id="boardButton"></button>
          <button id="resetButton"></button>
          <div id="failText"></div>
        </div>
        <div id="options">
          <div id="checkboxes">
            <input type="checkbox" id="bigClick"></input>
            <label for="bigClick"></label>
            <input type="checkbox" id="liveSolve"></input>
            <label for="liveSolve"></label>
            <div id = "darkModeLabel"><input type="checkbox" id="darkMode"></input>
            <label for="darkMode"></label></div>
          </div>
          <div id="iterationTime">
            <div id = "iterations">
              <span id="iterationsValue"></span>
            </div>
            <div id = "time">
              <span id="timeValue"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="instructions" style = 'font-size:20px'>
      <div id="paragraph" style = 'font-size:16px'>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
      </div>
    </div>
  </div>
</body>
</html>
