body {
    display: flex;
    flex-direction: column;
}

form {
    margin-bottom: 0;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

#header {
    display: flex;
    justify-content: flex-end;
}

#subtitle {
    text-align: center;
}

#legionBoard {
    border-spacing: 0;
    border-collapse: collapse;
}

#legionBoard td.legionCell {
    width: 25px;
    height: 27px;
    border-style: solid;
    border-width: 1px;
}

#legion {
    display: flex;
    flex-direction: column;
}

#legionFooter {
    margin-top: 10px;
}

#options {
    display: flex;
    flex-direction: column;
    text-align: end;
}

#checkboxes {
    margin-bottom: 10px;
}

#darkModeLabel {
    padding-top: 10px;
}

#iterationTime {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#iterations, #time, #resetButton {
  visibility: hidden;
}

#boardFilled {
    margin-bottom: 7px;
}

#middlelabels {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pieceForm {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 20px;
}

#pieceForm td.pieceCell {
    width: 7px;
    height: 9px;
    border-style: solid;
    border-width: 0px;
}

.piece {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    justify-content: flex-end;
}

#resetButton {
    margin-top: 5px;
}

#failText {
    text-align: right;
    visibility: hidden;
}

#bigClick, #liveSolve {
    margin-left: 20px;
}

#pieceForm input {
    width: 50px;
    height: 20px;
    margin-left: 10px;
}

.centerMiddleChild {
    display: flex;
}

.centerMiddleChild > :nth-child(1), .centerMiddleChild > :nth-child(3) {
    flex: 1;
}

#instructions {
    margin-left: 30px;
}

#paragraph {
    padding-right: 80px;
}

#currentPieces {
    white-space: nowrap;
}